[submodule "plugins/sfLessPhpPlugin"]
	path = plugins/sfLessPhpPlugin
	url = git://github.com/everzet/sfLessPhpPlugin.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/davidsblom/symfony-1.3.git
