<?php
header("Content-type: text/css");
?>

# Source : http://www.zurb.com/blog_uploads/0000/0485/buttons-02.html


/* Awesome Buttons */

.awesome, .awesome:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }
   

#thread_table th {
	background:#EEEEEE url(../images/gradient-bottom.png) repeat-x scroll left bottom;
	border-bottom:1px solid #D4D4D4;
	color:#686C70;
	padding-top:0.6em;
	text-shadow:0 1px rgba(255, 255, 255, 0.8);
}


#thread_table {
	border: none;
	font-family: Trebuchet MS;
	width: 100%;
}

.post_author {
	background:#FAFAFA none repeat scroll 0 0;
	text-align:center;
	width:140px;
}


#thread_table .category_header
{
	background: #1187C8 url(../images/bkg_menubar.png) repeat-x scroll 0 0;
	height:29px !important;
	margin:0 !important;
	padding-left: 10px;
	color: #fff;
	z-index:200 !important;
}

#thread_table th, td

{
	font-size:10pt;
	padding:4px 10px 4px 5px;
	vertical-align: middle;
	font-weight:normal;
	text-align:left;
	border:0 none;
	font-family:inherit;
}

#thread_table td
{
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #F4F5F5;
}

/* Simple scalable breadcrumb by Veerle Pieters
------------------------------------------------------------------*/
body {
	font: 62.5%/1.5 "Lucida Grande", Lucida, Verdana, sans-serif;
	}
ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
	}		
#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	}
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
}		
#crumbs li a {
	background:url(../images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
}	
a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#0D83C4;
}	


#sf_doctrine_simple_forum_table_topic  td
{
    border-bottom: 1px solid #D9D9D9;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#sf_doctrine_simple_forum_topic_create_content{
	height: 250px;	
}

.sf_doctrine_simple_forum_table_post_author 
{
 background: #FAFAFA none repeat scroll 0 0;
}


/* commentlist with thread comment */

ol.commentlist {
	list-style:none;
	margin:0;
	padding:2em 0;
	text-indent:0;
	float: left;
	width: 100%;
}
ol.commentlist blockquote {
	margin: 0px 0px 10px;
	padding: 5px 0px 5px 5px;
	clear: both;
	border-left: 5px solid #333333;
	font-size: 12px;
	line-height: 19px;
	font-weight: bold;
	color: #000000;
}
ol.commentlist blockquote blockquote {
	margin: 5px 0px 5px 5px;
}
ol.commentlist blockquote p {
	margin: 0px!important;
	padding: 0px!important;
}
#respond {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

ol.commentlist li {
	border:1px solid #D7D7D7;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:1%;
	margin:0 0 10px;
	padding:12px 7px 12px 57px;
	position:relative;
}
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment { }
ol.commentlist li div.comment-author { padding:0 170px 0 0; }
ol.commentlist li div.vcard {
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
}
ol.commentlist li div.vcard cite.fn { font-style:normal; }
ol.commentlist li div.vcard cite.fn a.url {
	color:#C73E14;
	text-decoration:none;
}
ol.commentlist li div.vcard cite.fn a.url:hover { color:#000; }
ol.commentlist li div.vcard img.avatar {
	border:1px solid #d5d5d5;
	left:7px;
	position:absolute;
	top:7px;
	padding: 5px;
	background: #FFFFFF;
}
ol.commentlist li div.vcard img.avatar-32 {}
ol.commentlist li div.vcard img.photo {}
ol.commentlist li div.vcard span.says {}
ol.commentlist li div.commentmetadata {}
ol.commentlist li div.comment-meta {
	position:absolute;
	right:10px;
	text-align:right;
	top:15px;
	font-size: 10px;
	line-height: 1.4;
	font-family: "Lucida Grande", "Trebuchet MS";
}
ol.commentlist li div.comment-meta a {
	color:#C73E14;
	text-decoration:none;
}
ol.commentlist li div.comment-meta a:hover { color:#000; }
ol.commentlist li p {
	margin:0 0 1em;
	font-size: 11px;
	line-height: 20px;
	color: #000000;
	padding-top: 8px;
}
ol.commentlist li p a {
	color: #C73E14;
	text-decoration: underline;
}
ol.commentlist li ul {
	list-style:square;
	margin:0 0 1em;
	padding:0;
	text-indent:0;
	font-size: 11px;
	font-style: normal;
	line-height: 1.4;
	font-weight: normal;
	font-variant: normal;
}
ol.commentlist li div.reply {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-align:center;
	width:36px;
	font-size: 10px;
	line-height: 1;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}
ol.commentlist li div.reply a:hover {
	color:#fff;
	text-decoration:underline;
	background: #C73E14;
	border: 1px solid #C73E14;
	padding: 1px;
	display: block;
	line-height: 15px;
	height: 15px;
	width: 35px;
}
ol.commentlist li div.reply a {
	color:#fff;
	text-decoration:none;
	background: #C73E14;
	border: 1px solid #C73E14;
	display: block;
	line-height: 15px;
	height: 15px;
	width: 35px;
	padding: 1px;
}
ol.commentlist li ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li ul.children li { }
ol.commentlist li ul.children li.alt {}
ol.commentlist li ul.children li.bypostauthor {}
ol.commentlist li ul.children li.byuser {}
ol.commentlist li ul.children li.comment {}
ol.commentlist li ul.children li.comment-author-admin {}
ol.commentlist li ul.children li.depth-2 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-3 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-4 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-5 {}
ol.commentlist li ul.children li.odd {}
ol.commentlist li.even {
}
ol.commentlist li.odd {
	background:#F9F9F9;
}
ol.commentlist li.parent { }
ol.commentlist li.pingback { }
ol.commentlist li.pingback.parent { }
ol.commentlist li.pingback div.vcard { padding:0 170px 0 0; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

ol.pinglist {
	margin: 0px 0px 25px;
	padding: 0px;
	float: left;
	width: 100%;
	list-style-type: none;
}
ol.pinglist li {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
ol.pinglist li a{
	color: #333333;
	text-decoration: none;
	font-size: 11px;
	line-height: 16px;
	display: block;
	margin: 0px;
	padding: 2%;
	float: left;
	width: 96%;
	border-bottom: 1px solid #eee;
}
ol.pinglist li a:hover {
	color: #333333;
	text-decoration: none;
	font-size: 11px;
	line-height: 16px;
	background: #f9f9f9;
	display: block;
	margin: 0px;
	padding: 2%;
	float: left;
	width: 96%;
	border-bottom: 1px solid #ededed;
}


.toolbar 
{
	background:#F5F8FA url(../images/toolbar.gif) repeat-x scroll 0 0;
	border:1px solid #D9E4EB;
	margin:0 0 10px 0px;
	padding:11px 10px;
	color: #0D83C4;
		-moz-border-radius: 5px 5px 5px 5px;
	

}
.feed a:link, a:visited, a:hover, a {
	boder: 0;
	text-decoration: none;
}
.feed img {
	border: 0;
}

/* The hint to Hide and Show */
.hint {
   	display: none;
    position: absolute;
    width: 100px;
    margin-top: -0px;
    margin-left: 10px;
    border: 1px solid #c93;
    padding: 10px 12px;
    z-index: +1;
    background: #ffc url(../images/pointer.gif) no-repeat -10px 5px;
}

/* The pointer image is hadded by using another span */
.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(../images/pointer.gif) left top no-repeat;
}
input.text, input.title,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
  width: 75%;
}

.list_form dt {
    clear: both;
    float:left;
    width: 130px;
    padding: 4px 0 2px 0;
    text-align: left;
}
.list_form dd {
    margin: 0 0 8px 0;
    padding-left: 6px;
}
