    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for dns
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName dns.localhost
      DocumentRoot "C:\xampp\htdocs\dns\web"
      DirectoryIndex index.php
      <Directory "C:\xampp\htdocs\dns\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "C:\xampp\htdocs\dns\lib\vendor\symfony\data\web\sf"
      <Directory "C:\xampp\htdocs\dns\lib\vendor\symfony\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
